MONGO_URL=mongodb+srv://username:password@cluster.example.mongodb.net/zerodha_clone
TOKEN_KEY=replace_with_a_long_random_secret
FRONTEND_URL=http://localhost:3000
DASHBOARD_URL=http://localhost:3001
PORT=3002
